.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* styles.css */
.larger-modal-dialog {
  max-width: 25%; /* Adjust the max-width value as needed */
}

.edit-button {
  background-color: #0d6efd;
  color: white; /* Set text color to ensure readability */
}

.edit-button:hover {
  background-color: #1c82ff; /* Brighter version for hover state */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
